@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}
.navbar {
    background: rgba(0,0,0,0);
}
.navbar-brand img {
    height: 2rem;
}
.img-bg {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0, 0.2);
    background: url("../src/bglanding.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.img-bg2 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0, 0.2);
    background: url("../src/bg2.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.img-bg3 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0, 0.2);
    background: url("../src/bg4.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}



.text-left {
    text-align: left !important;
}
.caption-landing {
    position: absolute;
    top: 38%;
    width: 100%;
    color: white;
}
.caption-landing h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-shadow: .1rem .1rem .1rem black;
    padding-bottom: 1rem;
}
.caption-landing h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .1rem black;
    padding-bottom: 1.6rem;
}
.infobtn {
    border-width: medium;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    padding: .6rem 1.3rem;
}
.infobtn:hover {
    box-shadow: .1rem .1rem .5rem rgba(0,0,0, 0.5);
}
h1, h2, h3, h4, h5, h6 {

    font-weight: 450;
  
}
#backgroundimg {
    height: 100%;
}
a.nav-link {
    font-weight: 900;
    color: white !important;
    margin-left: .5rem;
    margin-right: .5rem;
}

li.activelink > .nav-link > span {
    color : black !important;
}

li.activelink {
    border-radius: .5rem;
    background-color: rgb(255, 255, 255, 1);
}

.img-bg3 .card {
    border-radius: 0.8rem !important;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0.9;
}

.img-bg3 .card .btn {
    flex: 1 1 auto;
    margin: .4rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: .6rem;
    padding-top: .6rem;
    width: 12rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to right, #2980B9 0%, #6DD5FA 51%, #2980B9 100%);
}

.img-bg3 .card .btn:hover {
    background-position: right center;
}

@media (max-width: 992px) {

.show-mobile {
display: block;
}
.hide-mobile {
display: none;
}

a.nav-link {
    margin-top: 0.4rem;
    margin-bottom: .4rem;
}

a.nav-link span {
    margin-left: .8rem;
}
.navbar-nav {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
}

@media (min-width: 992px) {
.show-mobile {
display: none;
}
.hide-mobile {
display: block;
}
}